.doctor{
    background-color: rgb(226, 241, 241);
    border-radius: 8px;
    padding: 1rem;
    
}
.doctor:hover {
    border-color: #ccc #bbb #aaa #ddd;
    box-shadow: 0 0 1rem 0 #999, inset 0 0 0 1px #fff;
  }
.doctor img{
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgb(0 0 0 / 10%);
}